/* font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

/* General Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

img,
picture,
figure {
    max-width: 100%;
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
}
/****************************************************************/

/*          Custom Properties               */
:root {
    /*   Colors        */
    --clr-white: 0 0% 100%;
    --clr-gray: 0 0% 51%;
    --bg-black: 270 4% 9%;
    --clr-attribution: 0 0% 66%;

    /*   Font Family   */
    --ff-crimson: 'Crimson Pro', serif;
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-lora: 'Lora', serif;

    /*   Font Weight   */
    --fw-200: 200;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /*   Font Size     */
    --fs-200: 1.0rem;
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-600: 2.4rem;
    --fs-700: 3.6rem;
    --fs-900: 4.8rem;
}

/******************************************************************/
/*              General Utility Classes             */

.container {
    /* max-width: 125rem; */
    max-width: 144rem;
    padding-inline: clamp(1.5rem, 4.5vw, 7rem);
    margin-inline: auto;
}