/* font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

/* General Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

img,
picture,
figure {
    max-width: 100%;
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
}
/****************************************************************/

/*          Custom Properties               */
:root {
    /*   Colors        */
    --clr-white: 0 0% 100%;
    --clr-gray: 0 0% 51%;
    --bg-black: 270 4% 9%;
    --clr-attribution: 0 0% 66%;

    /*   Font Family   */
    --ff-crimson: 'Crimson Pro', serif;
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-lora: 'Lora', serif;

    /*   Font Weight   */
    --fw-200: 200;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /*   Font Size     */
    --fs-200: 1.0rem;
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-600: 2.4rem;
    --fs-700: 3.6rem;
    --fs-900: 4.8rem;
}

/******************************************************************/
/*              General Utility Classes             */

.container {
    /* max-width: 125rem; */
    max-width: 144rem;
    padding-inline: clamp(1.5rem, 4.5vw, 7rem);
    margin-inline: auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mobile-toggle {
    display: none;
    border: none;
    outline: none;
    background: inherit;
    cursor: pointer;
    font-size: 2.5rem;
}


/*          Page Style                  */

body {
    background: hsl(var(--bg-black));
    font-family: var(--ff-montserrat);
    color: hsl(var(--clr-white));

    display: flex;
    flex-direction: column;
}

header {
    margin-block: 4.2rem;
    display: flex;
    justify-content: space-between;
}

header a {
    padding: 0.8rem;
}

.logo h1 a {
    font-size: var(--fs-400);
    font-weight: var(--fw-200);
    font-family: var(--ff-crimson);
    text-transform: uppercase;
    border: 1px solid hsl(var(--clr-white));
    white-space: nowrap;
}

.primary-navigation .nav-list {
    display: flex;
    gap: clamp(5rem, 5vw, 8.6rem);
    gap: 8.6rem;
    font-size: var(--fs-500);
    font-weight: var(--fw-500);
}

.nav-list__items a {
    border-bottom: 2px solid transparent;
    transition: all 150ms ease-in;
}

.nav-list__items a:where(:hover, :focus) {
    border-bottom-color: hsl(var(--clr-gray));
}

.nav-list__items.active a {
    font-weight: var(--fw-700);
    border-color :hsl(var(--clr-white));
}


/*          Nav bar media query         */
@media (max-width: 44.99em) {
    header {
        margin-block: 2rem 3rem;
    }

    .mobile-toggle {
        display: block;
        position: relative;
        z-index: 99;
    }

    .mobile-toggle i[data-expanded="false"] {
        display: block;
    }

    .mobile-toggle i[data-expanded='true'] {
        display: none;
    }

    .primary-navigation {
        position: absolute;
        inset: 0 0 0 0;
        background-color: black;
        z-index: 10;

        transform: translateY(-100%);
        transition: transform 350ms ease-in;
    }

    .primary-navigation[aria-expanded="true"] {
        transform: translateY(0%);
    }

    .primary-navigation .nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
        min-height: 100vh;
        opacity: 0;
        transition: opacity 200ms ease-in 300ms;
    }

    .primary-navigation[aria-expanded="true"] .nav-list {
        opacity: 1;
    }
}
/**************************************************/

/*         Main Section        */

main > *,
.main-content > * {
    margin-bottom: 2.5rem;
}

.main-content h1 {
    font-size: var(--fs-700);
    font-weight: var(--fw-500);
    font-family: var(--ff-lora);
}

.main-content p {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    max-width: 25ch;
    line-height: 1.5;
}

.read-more {
    font-size: var(--fs-400);
    font-weight: var(--fw-700);
    padding-bottom: 0.5rem;
    position: relative;
}

.read-more::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: hsl(var(--clr-white));

    transition: width 300ms ease;
}

.read-more i {
    margin-left: 0.5rem;
    vertical-align: middle;
}

.read-more:where(:hover, :focus)::after {
    width: 100%;
}

/* ******************************************* */
.hero-image__container {
    margin-bottom: 15rem;
}

.hero-image {
    position: relative;
}

.hero-image figcaption {
    position: absolute;
    bottom: -10rem;
    right: 2rem;
    max-width: 80%;
    background: hsl(var(--bg-black));
    padding: 2rem 7.5rem 2rem 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.author {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.avatar {
    overflow: hidden;
}

.avatar img {
    border-radius: 50%;
    width: 6.2rem;
}

.author .author-info h2 {
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
    margin-bottom: 0.5rem;
}

.author .author-info span {
    font-size: var(--fs-200);
    font-weight: var(--fw-500);
    color: hsl(var(--clr-gray));
}

.author + p {
    font-size: var(--fs-500);
    font-family: var(--ff-lora);
    font-weight: var(--fw-700);
}

.attribution {
    padding-bottom: 2rem;
    text-align: center;
    font-size: var(--fs-400);
    color: hsl(var(--clr-attribution));
}

.attribution a {
    color: hsl(var(--clr-white));
    text-decoration: underline;
    font-weight: var(--fw-700);
}


/*      Desktop Layout          */

@media (min-width: 45em) {

    main {
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        margin-top: 7rem;
    }

    .main-content > * {
        margin-bottom: 4rem;
    }

    .main-content h1 {
        font-size: var(--fs-900);
        font-weight: var(--fw-500);
    }

    .main-content p {
        font-size: var(--fs-600);
        line-height: 1.2;
    }

    .read-more {
        font-size: var(--fs-500);
    }

    /*******************************************/

    .hero-image figcaption {
        bottom: -12rem;
        right: 4rem;
        padding: 2rem 15rem 4rem 2rem;
    }

    .avatar img {
        width: 8rem;
    }

    .author .author-info h2 {
        font-size: var(--fs-400);
        margin-bottom: 1rem;
    }

    .author .author-info span {
        font-size: var(--fs-300);
    }

    .author + p {
        margin-top: 2rem;
        font-size: var(--fs-600);
    }
}